*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0f6cbd;
    font-family: sans-serif;
}
.main-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffff;
    height: 70%;
    width: 25%;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
.main-login .img-login{
    text-align: center;
}
.main-login .nav{
    margin: 0.5rem auto;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 15px;
    font-weight: bolder;
}
.nav input{
    width: 80%;
    height: 25px;
    box-sizing: border-box;
    border: whitesmoke;
    box-shadow:#0f6cbd 3px 3px 3px  ;
    border-radius: 0.3em;
    margin: 0.5em;
}
.main-login .nav a{
    text-decoration: none;
    color: black;
}
.main-login .check{
    padding-left:50px ;
}
.main-login .sub-login{
    padding-left: 50px;
    margin: 1em;

}
.sub-login input{
    width: 80%;
    height: 25px;
    background-color: #0f6cbd;
    box-sizing: border-box;
    border-radius: 0.4em;
    border: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
}